body {
  
  
  
  padding-top: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body.scrolled {
  padding-top: 50px;
}

.navbar {
  height: 100px;
  border: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar.scrolled {
  height: 50px;
}

.navbar-brand {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-brand.scrolled {
  padding: 5px 15px;
}

.logo {
  height: 70px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  
}

.logo.scrolled {
  height: 40px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  margin: 25px 0px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
  color: #F44336;
}

.navbar-nav>li>a.scrolled {
  margin: 0px;
}

.bg {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg > div {
  position: fixed;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blur {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#sky {
  height: 1000px;
  background-color: white;
}